
.radio {
	appearance: none;
	background-color: transparent;
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 2em;
	height: 2em;
	border: 0.15em solid var(--Borders);
	border-radius: 50%;
	display: grid;
	place-content: center;
	cursor: pointer;
	transition: all 0.3s;
}
.radio::before {
	content: "";
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: var(--Blue);
	transform: scale(0);
}

.radio:checked::before {
	transform: scale(1);
}
.radio:checked {
	background-color: var(--Borders);
}
.radio:hover {
	border-color: var(--Blue);
}
.radio:checked:hover {
	border-color: var(--Borders);
}