.container {
	flex: 1;
	height: 100%;
	width: 100vw;
	color: var(--Gunnmetal);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
@media (min-width: 1024px){
	.container{
		width: clamp(80%, 1024px, 1440px);
		align-items: center;
		overflow: visible;
	}
}